PIXOO_IP=192.168.2.230
BIRDNET_GO_BASE_URL=http://192.168.2.135:8127
IMAGE_CACHE_ENABLED=1
IMAGE_CACHE_DIR=/opt/pixoo/cache/images
SSE_CONNECT_TIMEOUT_SECONDS=10
SSE_READ_TIMEOUT_SECONDS=65
SSE_RECONNECT_BASE_SECONDS=5
SSE_RECONNECT_MAX_SECONDS=60
